<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
    <div class="container">
        <div class="left-section">
            <a class="logo" href="/"><img loading="lazy" decoding="async" src="/assets/svgs/logo-black.svg" alt="logo" width="264" height="78"></a>
            <p>
                
            </p>
        </div>
        <div class="right-section">
            <div class="lists">
                <ul>
                    <li>
                        <h2>Information</h2>
                    </li>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/">About Us</a>
                    </li>
                </ul>
                <ul>
                    <li>
                        <h2>Services</h2>
                    </li>
                    <li>Routine Maintenance</li>
                    <li>Repairs and Restorations</li>
                    <li>Custom Builds</li>
                    <li>Parts and Accessories</li>
                </ul>
                <ul>
                    <li>
                        <h2>Contact</h2>
                    </li>
                    <li>
                        <a href="/contact">
                            9928 East 55th Place, Suite<br>
                            Tulsa
                            OK
                            74146
                        </a>
                    </li>
                    <li>
                        <a href="tel:918-764-8896">
                            T:
                            918-764-8896
                        </a>
                    </li>
                    <li>
                        <a href="mailto:retropowersportsllc@gmail.com">Click to Email</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="credit">
        <span>Designed and Hand Coded by</span>
        <a href="https://www.betterwebsite.ai" target="_blank" rel="noopener">Better Website</a>
        <span class="copyright">
            Copyright {% year %} - Present</span>
    </div>
</footer>
