---
title: 'Repairs and Restorations | Retropowersports'
description: 'Retro Power Sports in Tulsa offers expert repairs and full restorations for motorcycles, ATVs, and other power sports vehicles. Bring your ride back to life with precision care.'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-two/'
eleventyNavigation:
    key: Project Two
    order: 3200
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Repairs and Restorations</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery9.png?updatedAt=1743085039338">
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery9.png?updatedAt=1743085039338">
            <img aria-hidden="true" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/retrogallery9.png?updatedAt=1743085039338" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-578">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/bike8.png?updatedAt=1741295745548">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/bike8.png?updatedAt=1741295745548">
            <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/bike8.png?updatedAt=1741295745548" alt="room" width="494" height="700">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">What We Do</span>
            <h2 class="cs-title">Repairs and Restorations</h2>
            <p class="cs-text">
                When your bike takes a beating, we’ve got the skills to bring it back to life. From fixing busted plastics and worn-out clutches to full engine rebuilds, we handle all repairs with precision and care. Whether it’s a minor tweak or a major overhaul, we make sure your ride is dialed in and ready to perform. No shortcuts, no guesswork—just solid workmanship to get you back on two wheels as fast as possible.
            </p>
            <p class="cs-text">
                For those looking to bring an old bike back to its former glory, our restoration services are second to none. We strip it down, clean it up, and rebuild it with quality parts, keeping that classic look while making sure it runs like new. Whether it’s a vintage project or a modern machine in need of some love, we take pride in every restoration, treating each bike like a piece of history worth preserving.
            </p>
        </div>
    </div>
</section>

    {% include 'components/cta.html' %}

{% endblock %}