---
title: 'Routine Maintenance | Retropowersports'
description: 'Keep your motorcycle or power sports vehicle running strong with routine maintenance from Retro Power Sports in Tulsa. Fast, reliable service you can trust.'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'project-one/'
eleventyNavigation:
    key: Project One
    order: 3100
    parent: Projects
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/projects.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Routine Maintenance</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery9.png?updatedAt=1743085039338">
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery9.png?updatedAt=1743085039338">
            <img aria-hidden="true" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/retrogallery9.png?updatedAt=1743085039338" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section>

    <!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-578">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/bike7.png?updatedAt=1741295598972">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/bike7.png?updatedAt=1741295598972">
            <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/bike7.png?updatedAt=1741295598972" alt="room" width="494" height="700">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">What We Do</span>
            <h2 class="cs-title">Routine Maintenance</h2>
            <p class="cs-text">
                Keeping your bike in top shape starts with routine maintenance. At Retro Sports, we handle everything from oil changes and air filter cleaning to chain adjustments and bolt checks, making sure your ride is always ready to rip. Regular upkeep keeps your bike running smooth, prevents breakdowns, and saves you from costly repairs down the line. Whether you’re hitting the trails or lining up at the gate, we’ll make sure your machine is dialed in and ready to go.
            </p>
            <p class="cs-text">
                Our crew treats every bike like it’s their own, using quality parts and expert techniques to keep your ride performing at its best. We check brakes, suspension, fluids, and every crucial detail to make sure nothing holds you back. With our routine maintenance service, you get reliability, power, and peace of mind—because a well-tuned bike means more time riding and less time wrenching.
            </p>
        </div>
    </div>
</section>
                                

    {% include 'components/cta.html' %}

{% endblock %}