/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile */
@media only screen and (min-width: 0rem) {
    #sbs-2276 {
        padding: var(--sectionPadding);
        padding-top: 40rem;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-title {
            max-width: 25ch;
        }

        .cs-text {
            &:last-of-type {
                margin-bottom: (32/16rem);
            }
        }

        .cs-signature {
            width: (170/16rem);
            height: auto;
            margin-bottom: (8/16rem);
            display: block;
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0 0 (4/16rem);
            color: var(--headerColor);
            display: block;
        }

        .cs-desc {
            font-size: (16/16rem);
            line-height: 1.5em;
            margin: 0 0 (32/16rem) 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-button-solid {
            font-size: (16/16rem);
            text-align: center;
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            width: (180/16rem);
            text-decoration: none;
            font-weight: 700;
            /* clips corners of the before element */
            overflow: hidden;
            margin: 0;
            color: #fff;
            padding: 0;
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: #fff;
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-wrapper {
            display: flex;
            flex-direction: column;
            gap: (48/16rem);
        }

        .cs-image-group {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: (32/16rem);

            a {
                display: none;
                flex: none;
            }
        }

        .cs-picture {
            width: 100%;
            height: 90vw;
            max-height: (500/16rem);
            display: block;
            position: relative;
            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #sbs-2276 {
        padding-top: 15rem;
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-content {
            /* 32px - 64px */
            gap: clamp(2rem, 5vw, 4rem);
        }
        
        .cs-title {
            margin: 0;
        }

        .cs-wrapper {
            flex-direction: row;
            align-items: stretch;
        }

        .cs-flex {
            /* 12px to 40px */
            padding: clamp(.75rem, 3vw, 2.5rem) 0;
            align-self: center;
        }

        .cs-picture1 {
            height: (400/16rem);
            max-height: initial;
        }

        .cs-picture2 {
            width: 47vw;
            max-width: (362/16rem);
            height: auto;
            max-height: 100%;
            order: -1;
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs-2276 {
        padding-top: 15rem;
        .cs-container {
            flex-direction: row;
            align-items: stretch;
        }

        .cs-desc {
            margin: 0;
        }

        .cs-flex {
            .cs-button-solid {
                display: none;
            }
        }

        .cs-image-group {
            width:50%;
            max-width: (413/16rem);

            a {
                display: inline-block;
            }
        }

        .cs-picture1 {
            height: 100%;
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 75rem) {
    #sbs-2276 {
        padding-top: 15rem;
        .cs-image-group {
            margin-bottom: (84/16rem);
        }
    }
}
                                


/*-- -------------------------- -->
<---           Stats            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #stats-8 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-text {
            font-size: var(--bodyFontSize);
            line-height: 1.5em;
            text-align: inherit;
            width: 100%;
            max-width: (650/16rem);
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-title {
            color: var(--bodyTextColorWhite);
        }

        .cs-text {
            color: var(--bodyTextColorWhite);
            opacity: 0.8;
        }

        .cs-card-group {
            width: 100%;
            /* changes to 100% at in-between */
            max-width: (500/16rem);
            padding: 0 (20/16rem);
            /* 40px - 68px */
            padding-top: clamp(2.5rem, 5.7vw, 4.25rem);
            /* 48px - 80px */
            padding-bottom: clamp(3rem, 6.5vw, 5rem);
            margin: 0;
            background: #fff;
            border-top: 8px solid var(--primaryLight);
            border-radius: (5/16rem);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            gap: (55/16rem);
            box-shadow: 0 (20/16rem) (40/16rem) 0 rgba(0, 0, 0, 0.05);
            /* prevents padding from adding to the width of the container */
            box-sizing: border-box;
        }

        .cs-item {
            text-align: center;
            list-style: none;
            width: 100%;
        }

        .cs-number {
            /* 39px - 61px */
            font-size: clamp(2.4375rem, 4.7vw, 3.8125rem);
            font-weight: 700;
            line-height: 1.2em;
            /* 4px - 8px */
            margin-bottom: clamp(0.25rem, 0.78vw, 0.5rem);
            color: var(--primary);
            display: block;
        }

        .cs-stat-text {
            /* 16px - 25px */
            font-size: clamp(1rem, 2vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            color: var(--headerColor);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            /* 46px - 56px */
            line-height: clamp(2.875rem, 5.5vw, 3.5rem);
            text-decoration: none;
            font-weight: 700;
            text-align: center;
            margin: 0;
            color: #fff;
            min-width: (150/16rem);
            padding: 0 (24/16rem);
            background-color: var(--primary);
            border-radius: (4/16rem);
            display: inline-block;
            position: relative;
            z-index: 1;
            /* prevents padding from adding to the width */
            box-sizing: border-box;

            &:before {
                content: "";
                position: absolute;
                height: 100%;
                width: 0%;
                background: #000;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                border-radius: (4/16rem);
                transition: width 0.3s;
            }

            &:hover {
                &:before {
                    width: 100%;
                }
            }
        }

        .cs-background {
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            width: 100%;
            height: 65%;
            z-index: -1;

            &:before {
                /* Overlay */
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 100%;
                background: #000;
                opacity: 0.8;
                top: 0;
                left: 0;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

/* In-between - 500px */
@media only screen and (min-width: 31.25rem) {
    #stats-8 {
        &:before {
            height: 37.5%;
        }

        .cs-card-group {
            max-width: 100%;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: nowrap;
            column-gap: (35/16rem);
        }

        .cs-item {
            /* reset width */
            width: auto;
        }
    }
}

/* Big Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25rem) {
    #stats-8 {
        .cs-background {
            background: url("https://csimg.nyc3.digitaloceanspaces.com/Stats/bg.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            img {
                display: none;
            }
        }
    }
}

                                

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-455 {
        padding: var(--sectionPadding);
        padding-bottom: 0;
        position: relative;

        &:before {
            /* light grey bottom box */
            content: "";
            width: 100%;
            height: 45%;
            background: #fafbfc;
            border-top: 1px solid #b4b2c7;
            opacity: 1;
            position: absolute;
            display: block;
            bottom: -1px;
            left: 0;
        }

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
            position: relative;
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-button-group {
            width: 100%;
            max-width: (600/16rem);
            margin: 0;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            row-gap: (8/16rem);
            column-gap: (24/16rem);
        }

        .cs-button {
            font-size: (16/16rem);
            line-height: 1.5em;
            padding: 0 0 0 (16/16rem);
            color: var(--bodyTextColor);
            background-color: transparent;
            border: none;
            position: relative;
            transition: color 0.3s;

            &:before {
                content: "";
                width: (8/16rem);
                height: (8/16rem);
                border-radius: 50%;
                background: var(--primary);
                /* starting value, this will animate to 1 when the button is hovered, and when the active class is on it */
                opacity: 0;
                /* prevents mouse from interacting with it */
                pointer-events: none;
                position: absolute;
                display: block;
                top: 50%;
                /* start -20px left of the button */
                left: (-20/16rem);
                transform: translateY(-50%);
                /* transition to and from the active class styles on hover*/
                transition:
                    opacity 0.3s,
                    left 0.3s;
            }

            &:hover {
                color: var(--primary);
                cursor: pointer;
                &:before {
                    left: 0;
                    opacity: 1;
                }
            }

            &.cs-active {
                /* when the button is active, add these styles to the button and its pseudo */
                font-weight: 700;
                color: var(--primary);

                &:before {
                    /* animate to these values when the cs-active class is added to the button and on hover */
                    left: 0;
                    opacity: 1;
                }
            }
        }

        .cs-gallery {
            width: 100%;
            padding: 0;
            margin: 0;
            opacity: 1;
            visibility: visible;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            left: 0;
            /* 16px - 20px */
            gap: clamp(1rem, 1vw, 1.25rem);
            transition:
                transform 0.7s,
                opacity 0.3s,
                visibility 0.5s,
                top 0.3s,
                left 0.3s;
            /* makes the transform scaling origin the top left corner, dictates the direction by which the scale transforms animate towards */
            transform-origin: left top;

            &.cs-hidden {
                position: absolute;
                /* by using visibility:hidden instead of display:none, we can see the animations from the opacity and transforms, display:none won't render animations. */
                visibility: hidden;
                /* prevents the mouse from interacting with it */
                pointer-events: none;
                /* hidden galleries have a 0 opacity, and we animate the opacity to 1 when they become active */
                opacity: 0;
                /* this top and left value help control the animation, by setting it to position absolute and left 0, the gallery won't fly off screen to the left, it will stop its position to be at the left edge of the .cs-container (left: 0). Same for the bottom:0 value, the gallery won't go past that position when it animates */
                bottom: 0;
                left: 0;
                position: absolute;
                /* prevents the hidden galleries from overflowing the section, and makes a nice animations to transition to and from */
                transform: scaleY(0) scaleX(0);

                .cs-image {
                    /* when gallery is hidden, add these styles to the cs-image to animate from when cs-hidden is removed from the .cs-gallery */
                    transform: translateY(2.1875rem);
                    opacity: 0;
                }
            }
        }

        .cs-image {
            border-radius: (4/16rem);
            width: clamp(47%, 42.5vw, 48.5%);
            /* changes at tablet */
            aspect-ratio: 154/211;
            /* clips the image corners */
            overflow: hidden;
            display: block;
            position: relative;
            /* when .cs-hidden is removed from the .cs-gallery, reset these values and animate from their hidden styles */
            transform: translateY(0rem);
            opacity: 1;
            transition:
                opacity 0.6s,
                transform 0.6s;

            &:nth-of-type(1) {
                /* these delays stagger the reveal of each image so they all go one after the other and not all at once */
                transition-delay: 0.15s;
            }
            &:nth-of-type(2) {
                transition-delay: 0.3s;
            }
            &:nth-of-type(3) {
                transition-delay: 0.45s;
            }
            &:nth-of-type(4) {
                transition-delay: 0.6s;
            }
            &:nth-of-type(5) {
                transition-delay: 0.75s;
            }
            &:nth-of-type(6) {
                transition-delay: 0.9s;
            }
            &:nth-of-type(7) {
                transition-delay: 1.05s;
            }
            &:nth-of-type(8) {
                transition-delay: 1.2s;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 600px */
@media only screen and (min-width: 48rem) {
    #gallery-455 {
        &:before {
            height: 35%;
        }

        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-content {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }

        .cs-flex {
            width: 50%;
        }

        .cs-title {
            margin: 0;
        }

        .cs-button-group {
            width: auto;
        }

        .cs-gallery {
            justify-content: space-between;
        }

        .cs-image {
            /* 171px - 305px */
            width: ~"clamp(10.6875rem, 23.3%, 19.0625rem)";
            aspect-ratio: 304/425;
        }
    }
}





/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews-1672 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 40px - 64px */
            gap: clamp(2.5rem, 4.5vw, 4rem);
        }

        .cs-content {
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-title {
            margin: (0/16rem);
        }

        .cs-card-group {
            width: 100%;
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 2.5vw, 1.25rem);

        }

        .cs-item {
            list-style: none;
            width: 100%;
            /* 20px - 40px top & bottom */
            /* 20px - 40px left & right */
            padding: clamp(1.25rem, 3.15vw, 2.5rem) clamp(1.25rem, 3.15vw, 2.5rem);
            background-color: #f7f7f7;
            /* prevents padding from adding to height and width */
            box-sizing: border-box;
            display: flex;
            grid-column: span 12;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            position: relative;
            /* 24px - 48px */
            gap: clamp(1.5rem, 4vw, 3rem);
        }

        .cs-flex-group {
            /* this margin top auto will push everything up and force the cs-flex-group to the bottom of the container. This is to account for review cards with different heights because of more or less text and makes the cards more responsive to changing text */
            margin-top: auto;
            display: flex;
            align-items: flex-start;
            gap: (12/16rem);
        }

        .cs-profile {
            width: (52/16rem);
            height: auto;
            border-radius: 50%;
            position: relative;
            display: block;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes the image behave like a background image */
                object-fit: cover;
            }
        }

        .cs-name {
            /* 20px - 25px */
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            /* in case one card has more text than the other, this pushes up against the review text so the name and title are always at the bottom. Only works if parent is a flexbox */
            margin-top: auto;
            color: var(--headerColor);
            display: block;
        }

        .cs-job {
            /* 14px - 16px */
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 400;
            margin: 0;
            color: var(--bodyTextColor);
            display: block;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            gap: (16/16rem);
        }

        .cs-item-stars {
            width: (108/16rem);
            height: auto;
        }

        .cs-review {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.6vw, 1.25rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
            z-index: 1;
        }

        .cs-quote {
            width: (86/16rem);
            height: auto;
            position: absolute;
            right: (0/16rem);
            bottom: (0/16rem);
            z-index: 0;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews-1672 {
        .cs-item {
            grid-column: span 4;
        }
    }
}
                                
                                

                                

                                

                                

                                

                                