---
title: 'Retro Powersport | Code Stitch Web Designs | Tulsa, OK'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

   <!-- Usage Notes:
We made this stitch to overlap the section below it, so if there's a patterned texture or image background on the next section below, it will overlap on top of it. Other Stitches like this would have a white gap between the cards an the next section. In order to make Stitches like this work, we need to add a padding top on the section below it to counteract the overlap. 

ON MOBILE (360px): add padding-top: (654/16rem); using LESS, or padding-top: calc(654 / 16 * 1rem); if you're using SCSS, or padding-top: 40.875rem; if you're just using vanilla CSS.

ON TABLET (768px): Reset to padding-top: (230/16rem); using LESS, padding-top: calc(230 / 16 * 1rem) for SCSS or padding-top: 15.625rem; for CSS

Doing this will complete the overlapping "breaking the container" look.
-->

<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1250">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Quality Motorcycle Repair, Dirt bike Repair, and Maintenance</h1>
            <p class="cs-text">
                Transforming spaces, enhancing lives. Let us help you create the perfect environment for your needs.
            </p>
            <a href="tel:918-764-8896" class="cs-button-solid">Call Now</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <a href="/project-one" class="cs-link">
                    <h3 class="cs-h3">Routine Maintenance</h3>
                    <p class="cs-item-text">
                        We provide essential maintenance for street and off-road bikes, including oil changes, tune-ups, and tire services.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/bike7.png?updatedAt=1741295598972">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/bike7.png?updatedAt=1741295598972">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/bike7.png?updatedAt=1741295598972" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/project-two" class="cs-link">
                    <h3 class="cs-h3">Repairs and Restorations</h3>
                    <p class="cs-item-text">
                        We diagnose and repair motorcycle issues efficiently using quality parts, with full restoration video footage provided.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/bike8.png?updatedAt=1741295745548">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/bike8.png?updatedAt=1741295745548">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/bike8.png?updatedAt=1741295745548" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/custombuild" class="cs-link">
                    <h3 class="cs-h3">Custom Builds</h3>
                    <p class="cs-item-text">
                        We customize motorcycles and dirt bikes with audio, exhaust mods, seat refurbishing, paint, graphics, and more to make your dream bike.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/bike9.png?updatedAt=1741295807897">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/bike9.png?updatedAt=1741295807897">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/bike9.png?updatedAt=1741295807897" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
            <li class="cs-item">
                <a href="/parts" class="cs-link">
                    <h3 class="cs-h3">Parts and Accessories</h3>
                    <p class="cs-item-text">
                        We offer high-quality motorcycle parts and accessories, including tires, brakes, and exhausts, to upgrade your ride.
                    </p>
                </a>
                <picture class="cs-item-background">
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/partsandretrop.png?updatedAt=1743083557705">
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/partsandretrop.png?updatedAt=1743083557705">
                    <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/partsandretrop.png?updatedAt=1743083557705" alt="construction" width="413" height="374" aria-hidden="true">
                </picture>
            </li>
        </ul>
    </div>

    <!-- Background Image, there's a background image in the CSS for the parallax effect you'll need to change as well if you swap out our images -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrosportshero.PNG?updatedAt=1743524118640">
        <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrosportshero.PNG?updatedAt=1743524118640">
        <img decoding="async" src="https://ik.imagekit.io/6ycdefzj5/retrosportshero.PNG?updatedAt=1743524118640" alt="construction" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>

<!-- ============================================ -->
<!--                Why Choose Us                 -->
<!-- ============================================ -->

<section id="why-choose-1730">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">Why Choose Retro</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-house.svg" alt="icon" width="32" height="32">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Locally Owned & Operated</h3>
                    <p class="cs-item-text">
                        We’re passionate riders just like you, serving our community with pride.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-layer.svg" alt="icon" width="72" height="72">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Expert Knowledge</h3>
                    <p class="cs-item-text">
                        Our team knows off-road bikes inside and out, giving you the best advice and service.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-hour.svg" alt="icon" width="72" height="72">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Fast & Reliable Service</h3>
                    <p class="cs-item-text">
                        We get you back on the trails quickly without cutting corners on quality.
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gym-flower.svg" alt="icon" width="72" height="72">
                </picture>
                <div class="cs-flex">
                    <h3 class="cs-h3">Top-Quality Repairs</h3>
                    <p class="cs-item-text">
                        We use the best parts and techniques to keep your ride running at peak performance.
                    </p>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
                                


<!-- ============================================ -->
<!--                    Stats                     -->
<!-- ============================================ -->

<section id="stats-8">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Stats</span>
            <h2 class="cs-title">Our Numbers Speak For Themselves</h2>
            <p class="cs-text">
                We like to think our numbers speak for themselves. With years of experience and countless riders served, we’re committed to providing top-quality service. Whether it’s a quick fix or a major repair, we’ll get you back on the trails with confidence.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-number">10+</span>
                <span class="cs-stat-text">Years Experience</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">4</span>
                <span class="cs-stat-text">Experienced Staff</span>
            </li>
            <li class="cs-item">
                <span class="cs-number">100+</span>
                <span class="cs-stat-text">Happy Clients</span>
            </li>
        </ul>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Stats/bg-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/Stats/bg.jpg">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Stats/bg.jpg" alt="brick wall" width="1920" height="1282" aria-hidden="true">
    </picture>
</section>
                                

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-455">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Portfolio</span>
                <h2 class="cs-title">Our Gallery</h2>
            </div>
            <div class="cs-button-group">
                <!--When adding extra galleries, copy and paste the button and make data-filter equal to four, then five, etc. Do the same for the corresponding gallery and it's data attribute-->
                <button class="cs-button" data-filter="one">
                    Maintenance
                </button>
                <button class="cs-button" data-filter="two">
                    Repairs
                </button>
                <button class="cs-button" data-filter="three">
                    Custom Builds
                </button>
            </div>
        </div>
        <!--Gallery 1-->
        <div class="cs-gallery" data-category="one">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery1.png?updatedAt=1743084730197">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery1.png?updatedAt=1743084730197">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/retrogallery1.png?updatedAt=1743084730197" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery2.png?updatedAt=1743084789484">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery2.png?updatedAt=1743084789484">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/retrogallery2.png?updatedAt=1743084789484" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery3.png?updatedAt=1743084837826">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery3.png?updatedAt=1743084837826">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/retrogallery3.png?updatedAt=1743084837826" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/retro.png?updatedAt=1741358543798">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/retro.png?updatedAt=1741358543798">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/retro.png?updatedAt=1741358543798" alt="gallery" width="305" height="400">
            </picture>
        </div>
        <!--Gallery 2-->
        <div class="cs-gallery cs-hidden" data-category="two">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery4.png?updatedAt=1743084890362">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery4.png?updatedAt=1743084890362">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/retrogallery4.png?updatedAt=1743084890362" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery5.png?updatedAt=1743084914400">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery5.png?updatedAt=1743084914400">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/retrogallery5.png?updatedAt=1743084914400" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery6.png?updatedAt=1743084963849">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery6.png?updatedAt=1743084963849">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/retrogallery6.png?updatedAt=1743084963849" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallert7.png?updatedAt=1743084981436">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallert7.png?updatedAt=1743084981436">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/retrogallert7.png?updatedAt=1743084981436" alt="gallery" width="305" height="400">
            </picture>
        </div>
        <!--Gallery 3-->
        <div class="cs-gallery cs-hidden" data-category="three">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery8.png?updatedAt=1743085007700">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery8.png?updatedAt=1743085007700">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/retrogallery8.png?updatedAt=1743085007700" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery9.png?updatedAt=1743085039338">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery9.png?updatedAt=1743085039338">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/retrogallery9.png?updatedAt=1743085039338" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery10.png?updatedAt=1743085066289">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery10.png?updatedAt=1743085066289">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/retrogallery10.png?updatedAt=1743085066289" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery11.png?updatedAt=1743085085855">
                <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/retrogallery11.png?updatedAt=1743085085855">
                <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/retrogallery11.png?updatedAt=1743085085855" alt="gallery" width="305" height="400">
            </picture>
        </div>
    </div>
</section>                               
                                

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

<section id="reviews-1672">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Our Customer Reviews</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-flex-group">
                    
                    <span class="cs-name">
                        William L
                        <span class="cs-job"></span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                        I bought a 1973 Honda CL-350 that developed wheel bearing problems. Finally found Retro Powersports which has the expertise to work on vintage bikes. Will and mechanics did a thorough diagnostic survey and rebuilt the carburetors which were trashed as well. Now the bike runs like new. They even cleaned the bike up when finished. Great shop, great people. They always answer the phone or call you back, unlike some other shops in town. Highly recommend Retro.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    
                    <span class="cs-name">
                        Steve Bird
                        <span class="cs-job"></span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                        Only good things to say! 1981 Honda CM Custom. Excellent work and price. My bike was in and out with little down time. Had the carburetor rebuilt and some other minor things. It was delivered way cleaner than when I dropped it off.
                        Looking forward to more outstanding service in the future.
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
            <li class="cs-item">
                <div class="cs-flex-group">
                    
                    <span class="cs-name">
                        Ben Blair
                        <span class="cs-job"></span>
                    </span>
                </div>
                <div class="wrapper">
                    <img class="cs-item-stars" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/yellow-stars.svg" alt="stars" width="96" height="16">
                    <p class="cs-review">
                        Excellent experience with Reto on my 1984 Honda V65 rebuild/restore. Rebuilt all carbs, brake calipers and master cylinder, rebuilt clutch, and mounted and balanced 2 new tires. Will kept me informed the whole way, no surprises. Even had it detailed out when I picked it up. It runs like it did when I bought it new. Definitely recommend
                    </p>
                </div>
                <!--Quote Icon-->
                <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/gray-quote.svg" decoding="async" alt="quote icon" width="120" height="99">
            </li>
        </ul>
    </div>
</section>
                                
                                
                                
                                
                                
                                
                                

    {% include 'components/cta.html' %}
{% endblock %}